<div class="card">
    <div class="card-body -align-center">
        <h4 class="card-header text-center font-weight-bold text-uppercase py-4">Mise à jour Commission Fédérale</h4>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>
        <form [formGroup]="commissionForm" class="form-theme" (ngSubmit)="onSubmit()">

            <label for="idmembre">ID</label>
            <input required id="idmembre" type="number" formControlName="idmembre" class="form-control">

            <label for="nom">Nom</label>
            <input required id="nom" type="text" formControlName="nom" class="form-control">

            <label for="president">Président</label>
            <input required id="president" type="text" formControlName="president" class="form-control">

            <label for="email">E-mail</label>
            <input required id="email" type="text" formControlName="email" class="form-control">

            <button [disabled]="!commissionForm.valid" class="btn btn-primary">Envoyer</button>

        </form>
    </div>
</div>


