<div class="card">
    <div class="card-body -align-center">
        <h4 class="card-header text-center font-weight-bold text-uppercase py-4">Mise à jour Calendriers</h4>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>
        <form [formGroup]="masterForm" class="form-theme" (ngSubmit)="onSubmit()">

            <label for="idmas">ID</label>
            <input required id="idmas" type="number" formControlName="idmas" class="form-control">

            <label for="description">Description</label>
            <input required id="description" type="text" formControlName="description" class="form-control">

            <label for="nbrpatrtietr">Nombre Participants étrangers</label>
            <input required id="nbrpatrtietr" type="number" formControlName="nbrpatrtietr" class="form-control">

            <label for="nbrtotal">Nombre Participants Global</label>
            <input required id="nbrtotal" type="number" formControlName="nbrtotal" class="form-control">

            <button [disabled]="!masterForm.valid" class="btn btn-primary">Envoyer</button>

        </form>
    </div>
</div>

