<div class="card">
    <div class="card-body -align-center">
        <h4 class="card-header text-center font-weight-bold text-uppercase py-4">Mise à jour Bureau Fédéral</h4>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>
        <form #formulaire="ngForm">

            <label for="cin">CIN</label>
            <input required id="cin" type="number" ngModel name="cin" class="form-control">

            <label for="nom">Nom</label>
            <input required id="nom" type="text" ngModel name="nom" class="form-control">

            <label for="poste">Poste</label>
            <input required id="poste" type="text" ngModel name="poste" class="form-control">

            <label for="email">E-mail</label>
            <input required id="email" type="text" ngModel name="email" class="form-control">

            <label for="tel">Tel </label>
            <input required id="tel" type="text" ngModel name="tel" class="form-control">

            <label for="ddn">Date de naissance</label>
            <input required id="ddn" type="date" ngModel name="ddn" class="form-control">

            <button [disabled]="formulaire.invalid" (click)="addmembre(formulaire)" class="btn btn-primary">Envoyer</button>

        </form>
    </div>
</div>


