<div class="card">
    <div class="card-body -align-center">
        <h4 class="card-header text-center font-weight-bold text-uppercase py-4">Mise à jour Calendriers</h4>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>
        <form #formulaire="ngForm">

            <label for="idcourse">ID</label>
            <input required id="idcourse" type="text" ngModel name="idcourse" class="form-control">

            <label for="manifestation">Manifestation</label>
            <input required id="manifestation" type="text" ngModel name="manifestation" class="form-control">

            <label for="organisateur">Organisateur</label>
            <input required id="organisateur" type="date" ngModel name="organisateur" class="form-control">

            <label for="lieu">Lieu</label>
            <input required id="lieu" type="text" ngModel name="lieu" class="form-control">

            <label for="niveau">Niveau</label>
            <input required id="niveau" type="text" ngModel name="niveau" class="form-control">

            <label for="categorie">Categorie</label>
            <input required id="categorie" type="text" ngModel name="categorie" class="form-control">

            <label for="date">Date</label>
            <input required id="date" type="date" ngModel name="date" class="form-control">

            <button [disabled]="formulaire.invalid" (click)="addcalendriercourseR(formulaire)" class="btn btn-primary">Envoyer</button>

        </form>
    </div>
</div>

