<div class="card">
    <div class="card-body -align-center">
        <h4 class="card-header text-center font-weight-bold text-uppercase py-4">Mise à jour Centres de Formation </h4>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>
        <form [formGroup]="centreForm" class="form-theme" (ngSubmit)="onSubmit()">

            <label for="idcentre">ID</label>
            <input required id="idcentre" type="number" formControlName="idcentre" class="form-control">

            <label for="name">Nom</label>
            <input required id="name" type="text" formControlName="name" class="form-control">

            <label for="athlete">Athlete</label>
            <input required id="athlete" type="text" formControlName="athlete" class="form-control">

            <label for="category">Categorie</label>
            <input required id="category" type="text" formControlName="category" class="form-control">

            <label for="specialty">Specialté </label>
            <input required id="specialty" type="text" formControlName="specialty" class="form-control">

            <label for="club">Club</label>
            <input required id="club" type="text" formControlName="club" class="form-control">

            <label for="directeur">Directeur</label>
            <input required id="directeur" type="text" formControlName="directeur" class="form-control">

            <label for="tel">Tel</label>
            <input required id="tel" type="text" formControlName="tel" class="form-control">

            <button [disabled]="!centreForm.valid" class="btn btn-primary">Envoyer</button>

        </form>
    </div>
</div>


