<div class="card">
    <div class="card-body -align-center">
        <h4 class="card-header text-center font-weight-bold text-uppercase py-4">Ajout Athléte</h4>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>
        <div class="container">
            <form [formGroup]="athleteForm" class="form-theme" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-8">
                        <label for="id">Id</label>
                        <input required id="id" type="text" formControlName="id" class="form-control" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="nom">Nom</label>
                        <input required id="nom" type="text" formControlName="nom" class="form-control" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="prenom">Prénom</label>
                        <input required id="prenom" type="text" formControlName="prenom" class="form-control" >
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label>Sexe</label>
                        <input type="radio" formControlName="sexe" value="H" > Homme
                        <input type="radio" formControlName="sexe" value="F"> Femme
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="ddn">Date de naissance</label>
                        <input required id="ddn" type="date" formControlName="ddn" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="lieu">Lieu</label>
                        <input required id="lieu" type="text" formControlName="lieu" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="club">Club</label>
                        <input required id="club" type="text" formControlName="club" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="clubetranger">Club à l'étranger </label>
                        <input required id="clubetranger" type="text" formControlName="clubetranger" class="form-control">
                    </div>
                </div>
                <label>Disciplines</label>
                <div class="row">
                    <div class="col-md-6">
                        <input required id="discipline1" type="text" formControlName="discipline1" value="discipline1"
                               class="form-control">
                    </div>
                    <div class="col-md-6">
                        <input required id="discipline2" type="text" formControlName="discipline2" value="discipline2"
                               class="form-control">
                    </div>
                </div>
                <label>Meilleur Performances</label>
                <div class="row">
                    <div class="col-md-6">
                        <input required id="Meilleurperfo1" type="text" formControlName="Meilleurperfo1"
                               value="Meilleurperfo1" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <input required id="Meilleurperfo2" type="text" formControlName="Meilleurperfo2"
                               value="Meilleurperfo2" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="etablissement">Etablissement</label>
                        <input required id="etablissement" type="text" formControlName="etablissement"
                               class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="classe">Classe</label>
                        <input required id="classe" type="text" formControlName="classe" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="encadreurtech">Encadreur Technique</label>
                        <input required id="encadreurtech" type="text" formControlName="encadreurtech"
                               class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="Npasseport">N° passeport</label>
                        <input required id="Npasseport" type="text" formControlName="Npasseport" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="validite">Validité</label>
                        <input required id="validite" type="text" formControlName="validite" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="telephone">Téléphone</label>
                        <input required id="telephone" type="text" formControlName="telephone" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="adremail">E-mail</label>
                        <input required id="adremail" type="text" formControlName="adremail" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="adresse">Adresse</label>
                        <input required id="adresse" type="text" formControlName="adresse" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="pointure">Pointure</label>
                        <input required id="pointure" type="text" formControlName="pointure" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <label for="PathPerformanceCopiePDF">Performance</label>
                        <input required id="PathPerformanceCopiePDF" type="file" formControlName="PathPerformanceCopiePDF"
                               class="form-control">
                    </div>
                </div>
                <button [disabled]="!athleteForm.valid"  class="btn btn-primary">
                    Envoyer
                </button>

            </form>
        </div>
    </div>
</div>



