<div class="card">
    <div class="card-body -align-center">
        <h4 class="card-header text-center font-weight-bold text-uppercase py-4">Mise à jour Présentation</h4>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>
        <form #formulaire="ngForm">

            <label for="idpresentation">ID</label>
            <input required id="idpresentation" type="number" ngModel name="idpresentation" class="form-control">

            <label for="description">Description</label>
            <input required id="description" type="text" ngModel name="description" class="form-control">

            <label for="president">Président</label>
            <input required id="president" type="text" ngModel name="president" class="form-control">

            <label for="nbrligue">Nombre ligues</label>
            <input required id="nbrligue" type="number" ngModel name="nbrligue" class="form-control">

            <label for="nbrclub">Nombre clubs</label>
            <input required id="nbrclub" type="number" ngModel name="nbrclub" class="form-control">

            <label for="nbrlic">Nombre licenciés</label>
            <input required id="nbrlic" type="number" ngModel name="nbrlic" class="form-control">

            <button [disabled]="formulaire.invalid" (click)="addpresentation(formulaire)" class="btn btn-primary">Envoyer</button>

        </form>
    </div>
</div>


