<div class="card">
    <div class="card-body -align-center">
        <h4 class="card-header text-center font-weight-bold text-uppercase py-4">Mise à jour Athlé_santé</h4>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>
        <form #formulaire="ngForm">

            <label for="eventId">ID</label>
            <input required id="eventId" type="text" ngModel name="eventId" class="form-control">

            <label for="eventTitle">Programme</label>
            <input required id="eventTitle" type="text" ngModel name="eventTitle" class="form-control">

            <label for="eventDate">Relation Sport-Santé</label>
            <input required id="eventDate" type="date" ngModel name="eventDate" class="form-control">

            <label for="eventComments">Programme</label>
            <input required id="eventComments" type="text" ngModel name="eventComments" class="form-control">

            <label for="eventImgPath">Programme</label>
            <input required id="eventImgPath" type="text" ngModel name="eventImgPath" class="form-control">

            <label for="eventDescrip">Programme</label>
            <input required id="eventDescrip" type="text" ngModel name="eventDescrip" class="form-control">

            <button [disabled]="formulaire.invalid" (click)="addactualite(formulaire)" class="btn btn-primary">Envoyer</button>

        </form>
    </div>
</div>

