<div class="card">
    <div class="card-body -align-center">
        <h4 class="card-header text-center font-weight-bold text-uppercase py-4">Mise à jour Calendriers</h4>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>
        <form [formGroup]="calMasForm" class="form-theme" (ngSubmit)="onSubmit()">

            <label for="idcompetitionmas">ID</label>
            <input required id="idcompetitionmas" type="text" formControlName="idcompetitionmas" class="form-control">

            <label for="nom">Nom Compétition</label>
            <input required id="nom" type="text" formControlName="nom" class="form-control">

            <label for="organisateur">Organisateur</label>
            <input required id="organisateur" type="date" formControlName="organisateur" class="form-control">

            <label for="lieu">Lieu</label>
            <input required id="lieu" type="text" formControlName="lieu" class="form-control">


            <label for="date">Date</label>
            <input required id="date" type="date" formControlName="date" class="form-control">

            <button [disabled]="!calMasForm.valid" class="btn btn-primary">Envoyer</button>

        </form>
    </div>
</div>

